/* Companies.css */

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  white-space: nowrap; /* Prevent items from wrapping to the next line */
  animation: marquee 90s linear infinite;
}

.carousel-item {
  flex-shrink: 0;
  width: 158px; /* Adjust the width based on your logo size */
  height: 50px; /* Adjust the height based on your logo size */
  margin-right: 10px; /* Adjust the margin to add space between items */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-158px * 20 - 10px * 19)); /* Adjust the multiplication factor based on the number of logos and margin */
  }
}